﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="borrar.aspx.cs" Inherits="kdbs_prjDBOND.borrar" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <%--<link href="ChartJS/Chart.css" rel="stylesheet" />--%>
    <%--<script src="ChartJS/Chart.js"></script>--%>
    <script src="vendor/chart.js/Chart.min.js"></script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Literal ID="ltChart" runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>