﻿@media (max-width: 640px) {
    .body-table-xs {
        padding: 1rem 0.25rem;
    }

    .card-header-xs {
        padding-top: 0.50rem !important;
        padding-bottom: 0.50rem !important;
    }

    .page-heading-bottom {
        margin-bottom: 0.25rem !important;
    }
}
